{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}Review PBS Daily QA{% endblock %}
{% block extra_style %}
    <link href="{% static "css/qa.css" %}?v={{VERSION}}" rel="stylesheet">
    <link href="{% static "css/charts.css" %}?v={{VERSION}}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datepicker.min.css" %}?v={{VERSION}}" rel="stylesheet">
{% endblock %}
{% block extra_script %}
    <script src="{% static "js/pbsdailyqa.js" %}?v={{VERSION}}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}?v={{VERSION}}"></script>
{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h3>PBS Daily QA Analysis</h3>
        </div>
    </div>
    <div id="test-filters" class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-container form-inline">
                        <h5>Plot Options</h5>
                        <div id="plot-type-options" class="row-fluid">
                            <div class="span12">
                                <label class="control-label" for="plot-type">
                                    Type:
                                    <select id="plot-type" class="inline input-medium plot-options">
                                        <option value="profile">Profile</option>
                                        <option value="spot">Spot</option>
                                    </select>
                                </label>
                                <label class="control-label" for="annotations">
                                    Style:
                                    <select id="annotations" class="inline input-medium plot-options">
                                        <option value="position">Position</option>
                                        <option value="size">Size</option>
                                    </select>
                                </label>
                                <span id="plot-profile-options">
                                    <label class="control-label" for="profile-axis">
                                        Axis:
                                        <select id="profile-axis" class="inline input-medium plot-options">
                                            <option value="y">Y Axis</option>
                                            <option value="x">X Axis</option>
                                        </select>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <h5>Date</h5>
                        <div>
                            <button id="dateprev" class="btn datenav"><i class="icon-chevron-left"></i></button>
                            <div class="date input-prepend" id="date-wrapper" data-date="{{ date|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
                                {% spaceless %}
                                    <span for="date" id="date-label" class="add-on ">Date</span>
                                    <input type="text" id="date" class="date-only-input" value="{{ date|date:'d-m-Y'}}"></input>
                                {% endspaceless %}
                            </div>
                            <button id="datenext" class="btn datenav"><i class="icon-chevron-right"></i></button>
                        </div>
                        <h5>Test List Instances <span id="numtestlistinstances" class="badge badge-info"></span></h5>
                        <select id="testlistinstances" class="input-medium plot-options">
                            <option>1</option>
                        </select>
                        <button type="button" class="btn btn-info" id="review-test-list">Review Test List</button>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button type="button" class="btn btn-primary pull-left" id="gen-plot">Generate Plot</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="plot-container" class="row-fluid">
                <div id="plot" class="span12" align="center"><img id="plotimg" src="#"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block end_body_script_base %}
    {% block end_body_extra_script %}{%endblock%}
    {% endblock end_body_script_base%}
